@{
    ViewBag.Title = "About";
}
<h2>About our website</h2>
<br />
<h3>Introduction</h3>
<p>The subject matter of this project will be vulnerabilities that exist on the internet today. A vulnerability is a software can lead to the exploitation of the software in a bad manner. There are a wide range of vulnerabilities on the internet today that developer needs to know about before developing any sort of software. The current rise in the development of technology has let to new vulnerabilities being discovered on a regular basis. Companies till date lose good quantity of money and business value simply due to poor development. This is because new developers spend plenty of hours researching vulnerabilities and are not able to find very useful information on the vulnerabilities. This not only wastes a developer’s time, but it is also very inefficient. The resources available are either very vague or not accurate. Also, some companies are based on dealing with this vulnerability. Therefore, they try do provide information on how to prevent these vulnerabilities. This also puts of a lot of people who have an interest in cyber security.</p>
<br />
<h3>Website Objective</h3>
<p>This website will resolve all the problems stated in the introduction. It will pursue this by providing an efficient and informative website about vulnerabilities. It will act as a community page where information will be available to everyone. Users will be able to share new discovered vulnerabilities and info about current vulnerabilities. This website will help developers and user looking into vulnerabilities and save them plenty of valuable time. The overall aim of the project is to help people understand the importance of secure software’s and how to make them secure.</p>
<br />
<h3>Functionality</h3>
<p>•	Home Page: This page will consist information about the website. For example, what it is and what it stands for?</p>
<p>•	Secure software: This page will give users access to a page that can be used for more efficient and secure development of software’s. It will provide tips on the development process and how to create a secure piece of software.</p>
<p>•	Vulnerability page: This page will consist of information on vulnerabilities that’s users can use to study about new/old vulnerabilities and share their views on vulnerabilities.</p>
<p>•	Resolution page: Resolutions to problems will be provided on this page. Users will be able to post questions about the problems they are facing in terms of vulnerabilities and other users will be able to provide useful solutions.</p>
<p>•	Research page: On this page users will be able to post their own research on vulnerabilities and they will get reviewed by other users by leaving feedback and likes.</p>
