@{
    ViewBag.Title = "Home Page";
}

<body>

<div class="jumbotron">
    <h1>InfoHack</h1>
    <p class="lead">InfoHack was made for individuals with an interest in cyber security, want to help others and lear new trends related to vulnerabilities. </p>
    <p><a href="https://localhost:44350/Home/About" class="btn btn-primary btn-lg">About Us &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>How to start your journey?</h2>
        <p>
            To start your journey simply Signup using the button below or using the navigation bar our use the buttons below to access our wide range of survices.
        </p>
        <p><a class="btn btn-default" href="https://localhost:44350/Account/Register">Sign Up &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Vulnerability</h2>
        <p>This page consists of information about different vulnerabilities out their today</p>
        <p><a class="btn btn-default" href="https://localhost:44350/vulnerabilities">Vulnerability &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Security</h2>
        <p>This page consists of information about how to develop products such as websites and applications securely</p>
        <p><a class="btn btn-default" href="https://localhost:44350/secures">Security &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Research</h2>
        <p>Here you can post your researched topics and share them with the world</p>
        <p><a class="btn btn-default" href="https://localhost:44350/researches">Research &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Problem</h2>
        <p>Here individuals can post the problems they are facing and outher individuals are able to help them by providing them feed back</p>
        <p><a class="btn btn-default" href="https://localhost:44350/resolutions">Problem &raquo;</a></p>
        <h2>Search</h2>
        <p>Here individuals can Search for all records by their ID number. This allows for easier access</p>
        <p><a class="btn btn-default" href="https://localhost:44350/vulnerabilities/Search">Search &raquo;</a></p>
    </div>
  
</div>
</body>